---
// Component Imports
import Hero from "/src/views/hero/Skitty.vue";
import Art from "/src/views/BlockGrid.vue";
import Commissions from "/src/views/Commissions.vue";
import ContactMe from "/src/views/ContactMe.vue";
import MadeWithLove from "/src/views/MadeWithLove.vue";

// Application State
import { about, commissions, contact, contactFormEnabled } from "/src/components/content.json";
import { blocks } from "/src/components/index.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Raquel Bumgarner</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
      @font-face {
        font-family: "Raquel";
        src: url(/fonts/Raquelfont_01.ttf);
      }

      @font-face {
        font-family: "Nanum Pen Script";
        src: url(/fonts/nanum-pen-script-v19-latin-regular.woff2);
      }

      @font-face {
        font-family: "Architects Daughter";
        src: url(/fonts/ArchitectsDaughter-Regular.ttf);
      }

      :root {
        --light-blue: 173, 216, 230;
        --pink: 255, 192, 203;
        --beige: 255, 254, 225;

        --text-color: 83, 73, 87;
        --shadow-color: 83, 73, 87, 0.267;
      }

      html,
      body {
        display: block;
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;

        font-family: "Nanum Pen Script";
        font-size: 36px;
        line-height: 1.25em;
        letter-spacing: -1px;
        margin: 0;
        padding: 0;

        scroll-behavior: smooth;
      }
      
      main {
        display: block;
        position: relative;

        padding: 5em 4em 0;
        background: linear-gradient(180deg, transparent 0, rgba(var(--light-blue), 0.425) 4em, rgba(var(--light-blue), 1) 16em, rgb(var(--pink)) 48em, rgb(var(--beige)));
        
        color: rgb(var(--text-color));
        text-shadow: 1px 1px 3px rgba(var(--shadow-color));
        font-size: 28px;
      }

      @media only screen and (max-width: 768px) {
          main {
            padding: 1em;
          }
      }

      .page {
        padding: 4em 0em;

        h2 {
          margin: 0;
        }
      }
    </style>
  </head>
  <body>
    <Hero client:load {about} {blocks} commissionsEnabled={commissions.enabled} />
    <main>
      <Art client:visible {blocks} />
      <Commissions {commissions} />
      <ContactMe client:load {contact} {contactFormEnabled} />
      <MadeWithLove/>
    </main>
  </body>
</html>
